@page
@model task1.Pages.Ride.RideModel
@{
}

<h1>Rides!</h1>

<a class="createTickets" asp-page="/Ride/Edit">Add ride</a>

<div class="row">
    @foreach (var item in Model.Ride)
    {
        <div class="pass">
            <div class="name">@item.RideId</div>
            <div class="update"><a asp-page="/Ride/Edit" asp-route-Id="@item.Fare">Update</a></div>
            <div class="delete"><a asp-page="/Ride/Delete" asp-route-Id="@item.Fare">Delete</a></div>
        </div>
    }
</div>